body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 1rem 2rem;
    background-color: rgb(230, 227, 198);
}

body.dark-mode {
  background-color: #2c3e50;
  color: #000000;
}

body.dark-mode .container {
  background-color: #34495e;

}

body.dark-mode a {
  color: #ce2424;
}